.bt {
    cursor: pointer;
    border: 1px solid #369;
    background: #369;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
  }

.wf-modal {
    text-align: left;
  }
  .wf-modal .tit {
    font-family: 'Montserrat';
    color: #fefefe;
    font-size: 20px;
    margin: 0;
  }
  .wf-modal .close .bt {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    color: #ccc;
    padding: 5px 10px;
    border: 0;
  }
  .wf-modal .close .bt:before {
    content: "X";
    font-family: "fontAwesome";
  }
  .wf-modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .wf-modal:target:before {
    display: block;
  }
  .wf-modal:target .wf-dialog-modal {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
  }
  
  .wf-dialog-modal {
    background: #fefefe;
    border: 1px solid #333;
    border-radius: 5px;
    margin-left: -150px;
    position: fixed;
    left: calc(50% - 450px);
    top: 100%;
    z-index: 11;
    width: 900px;
    -webkit-transform: translate(0, 500%);
    -moz-transform: translate(0, 500%);
    transform: translate(0, 500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  
  .wf-content-modal {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wf-header-modal,
  .wf-footer-modal {
    padding: 10px;
  }
  
  .wf-header-modal {
    border-bottom: 1px solid #eee;
  }
  
  .wf-footer-modal {
    border-top: 1px solid #eee;
    text-align: right;
  }

table {
  width: 800px;
  border-collapse: collapse;
  background-color: #1A1E25;
  overflow-y: scroll;
}

th {
  font-weight: bold;
  letter-spacing: 2.5px;
}

table th,
table td{
  padding: 20px;
  color: #fefefe;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgba(208, 208, 208, 0.759);
}

thead tr {
  background-color: #EE1E46;
}

tr:nth-child(even){background-color: #2c323d;}
 


